@import url(./_reset.css);
@import url(./_base.css);
@import url(./_typography.css);


.container {
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
}

.box {
  color: white;
  height: 100px;
  font-size: 25px;
  height: 100px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 100%;
  border-radius: 8px;
  margin: 5px;
}

.blue {
  background-color: blue;
}

.orange {
  background-color: orange;
  height: 250px;
}

.green {
  background-color: green;
}

.red {
  background-color: red;
  height: 150px;
}

.expendble {
  display: none;
}

@media all and (min-width: 800px) {
  .expendble {
    display: flex;
  }
  .red {
    flex-basis: calc(50% - 10px);
  }
}

@media all and (min-width: 1200px) {
  .green {
    flex-basis: calc(33.3333% - 10px);
    height: 300px;
  }

  .red {
    flex-basis: calc(25% - 10px);
  }
}
